[submodule "modules/zlogan"]
	path = modules/zlogan
	url = https://github.com/eltvor/zlogan
[submodule "modules/udmabuf"]
	path = modules/udmabuf
	url = https://github.com/ikwzm/udmabuf
[submodule "modules/sja1000"]
	path = modules/sja1000
	url = https://gitlab.fel.cvut.cz/canbus/zynq/sja1000-fdtol.git
[submodule "modules/CTU_CAN_FD"]
	path = modules/CTU_CAN_FD
	url = https://gitlab.fel.cvut.cz/illeondr/CAN_FD_IP_Core.git
[submodule "modules/device-tree-xlnx"]
	path = modules/device-tree-xlnx
	url = git://github.com/Xilinx/device-tree-xlnx.git
