###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_BC
	comment "No additional options for BC"

# 	config APPS_BC_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
